{
    "presets": [
        ["env", {
            "targets": {
                "node": "4"
            }
        }]
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    },
    "plugins": [
        ["transform-runtime", { "polyfill": false }],
        ["module-rewrite", { "replaceFunc": "./scripts/module-rewrite.js" }]
    ]
}
