{
    "presets": [
        ["env", {
            "targets": {
                "node": "0.12"
            }
        }],
        ["stage-2"]
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    },
    "plugins": [
        ["module-rewrite", { "replaceFunc": "./scripts/module-rewrite.js" }]
    ]
}
